
@import "../main/main.component.scss";

.main-navigation{
    background-color: #b3d3ae;

    height: 100%;
    width: $navigation-width;
    top : $header-height + $header-padding-vert * 2;
    padding: $navigation-padding-vert $navigation-padding-hori;

    border-right: 1px solid #8f8f8f;
    box-shadow: 1px 0px 5px 0px #808080;

    position: fixed;
    overflow: hidden;
    z-index: $navigation-z-index;

    ul {
        color: #cbddcb;
        list-style-type : none;
        padding-left: 0px;

           
        li{
            height: 36px;
            width:$navigation-width;
            margin:0;
            display : block;

            background-color: #054405;
             
            a:hover{
                background-color: rgb(25, 102, 25);
            }
            a:active{
                color: #0d3241;
                font-weight: 600;
                background-color: rgb(154, 207, 231);
            }
            a{
                width:100%;
                height:100%;
                display : inline-block;
                vertical-align: middle;

                color: #cbddcb;
                font-size : 0.9em;
                font-weight: 400;
                overflow-x: hidden;
                overflow-y: hidden;
                text-indent: 4px;

                text-decoration: none !important;

                span{
                    width:100%;
                    height:100%;
                    padding : 4px;
                    display:block;
                }
            }
        }
    }
}
