
<div class="main-navigation">
    <h3><i class="fas fa-angle-double-down"></i> MENU</h3>
    <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" ><span><i class="fas fa-home"></i> Home</span></a></li>
        <li><a [routerLink]="['/reg-merchant']" routerLinkActive="router-link-active" ><span><i class="fas fa-store"></i> Add Merchant</span></a></li>
        
        <li><a [routerLink]="['/qr']" routerLinkActive="router-link-active" ><span><i class="fas fa-qrcode"></i> QR code gen</span></a></li>
        <li><a [routerLink]="['/transaction']" routerLinkActive="router-link-active" ><span><i class="fas fa-receipt"></i> Transaction</span></a></li>
    </ul>
    
    
</div>