@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

div{
    font-family: "Noto Sans KR";
}

$minwidth:720px;

$header-height : 64px;
$detail-width:480px;

.frame{
    min-width:$minwidth; 

    display: grid;
    margin-right:64px;

    .selected-table{
        background-color: #f4f4f4;
        padding:32px;
        width:$detail-width;
        height:100%;

        position: fixed;
        top:$header-height ;
        left:0px;

        p{margin:0;}
    
        label{
            padding:2px;
    
            font-size: 1.1em;
            font-weight: 550;
    
            // border: 1px solid #194d19;
            // border-radius: 2px;
        }
        .item{
            margin:8px 0;
        }
    }
    
    
    .list{
        margin-left: $detail-width + 120px;
        p{
            margin:0;
        }
        .item{
            // margin: 16px 0;
            padding:16px;

            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 64px 90%;
    
            &-flex{
                display: flex; 
                flex-direction: row ; 
                justify-content: space-between; 
                // align-items: flex-start;
            }
            .merchant{
                font-size:1.3em;
                font-weight: 500;
            }
            .date{
                // font-weight: 550;
            }
            .taxfree{
                background-color: rgb(100, 15, 15); 
                color:whitesmoke; 
                padding:3px 8px 4px 6px;
                
                border-radius: 4px; 
                font-size: 0.9em; 
                font-weight: 550;
            }
            .utu{
                background-color: rgb(15, 73, 121); 
                color:whitesmoke; 
                padding:3px 8px 4px 6px;
    
                border-radius: 4px;
                font-size: 0.9em; 
                font-weight: 550;
            }
    
            &:hover{
                background-color: #ccc;
                transition: 250ms;
            }
        }
    }
}





.positive{
    color:red;
}
.negative{
    color:blue;
}