$maxwidth:720px;


.frame{
    max-width:$maxwidth; 
    margin: 0 auto;

    .selected-table{
        background-color: #eee;
        padding:16px;

        p{margin:0;}
    
        label{
            padding:2px;
    
            font-size: 1.1em;
            font-weight: 550;
    
            // border: 1px solid #194d19;
            // border-radius: 2px;
        }
        .item{
            margin:8px 0;
        }
    }
    
    
    .list{
        p{
            margin:0;
        }
        .item{
            // margin: 16px 0;
            padding:16px;
    
            display: flex; 
            flex-direction: row ; 
            justify-content: space-between; 
            align-items: flex-start;
    
            .merchant{
                font-size:1.3em;
                font-weight: 500;
            }
            .date{
                // font-weight: 550;
            }
            .taxfree{
                background-color: rgb(100, 15, 15); 
                color:whitesmoke; 
                padding:0px 4px 3px 4px;
                
                border-radius: 4px; 
                font-size: 0.9em; 
                font-weight: 550;
            }
            .utu{
                background-color: rgb(199, 230, 255); 
                color:black; 
                padding:0px 4px 3px 4px;
    
                border-radius: 4px;
                font-size: 0.9em; 
                font-weight: 550;
            }
    
            &:hover{
                background-color: #ccc;
                transition: 250ms;
            }
        }
    }
}





.positive{
    color:red;
}
.negative{
    color:blue;
}