<div class="frame">
    <h1>Add Merchant</h1>
    <div class="addmer">
        <form [formGroup]="merchant_form" (ngSubmit)="click_add()">
            <label><i class="fas fa-signature"></i> NAME</label>
            <p>
                <input type="text" placeholder="name" formControlName="name" />
            </p>
            <label><i class="fas fa-store"></i> MERCHANT NUMBER</label>
            <p>
                <input type="text" placeholder="merchant no" formControlName="merchant_no" />
            </p>
            <label><i class="fas fa-phone"></i> PHONE NUMBER</label>
            <p>
                <input type="text" placeholder="phone no" formControlName="phone_no" />
            </p>
            <button type="submit" [disabled]="!merchant_form.valid">Add</button>
        </form>
    </div>


    <div class="list">
        <table>
            <div *ngFor="let merchant of merchants">
                <tr>
                    <td rowspan="3"><i class="fas fa-genderless"></i></td>
                    <td><label>NAME</label> </td>
                    <td>{{merchant.name}}</td>
                </tr>
                <tr>
                    <td><label>MERCHANT NO</label></td>
                    <td>{{merchant.merchant_no}}</td>
                </tr>
                <tr>
                    <td><label>PHONE NO</label></td>
                    <td>{{merchant.phone_no}}</td>
                </tr>
            </div>
        </table>
    </div>
</div>