.frame {
    padding: 12px;

    label{
        font-weight: 600;
    }
    button {
        padding: 8px;

        font-size: 1.2em;

        border:none;
    }
    button:hover{
        background-color: #dddddd;
    }
    .danger{
        color:red;
    }
}