
$navigation-width : 152px;
$header-height : 64px;

$header-padding-vert : 4px;
$header-padding-hori : 8px;

$navigation-padding-vert : 4px;
$navigation-padding-hori : 0px;

$header-z-index : 10;
$navigation-z-index : $header-z-index  - 1;

.main-body {
    // background-color: #f0f0f0;

    position: absolute;
    top : $header-height + $header-padding-vert * 2;
    // left: $navigation-width + $navigation-padding-hori * 2;
    
    width : 100%;
    height: 100%;

    
    .main-contents{
        position: relative;

        min-height : 90%;
        // padding : 8px;
        
        // background-color: #ffffff;


    }

    
}